<div class="main-page-body">
    <div class="dashboard-page">
        <div class="row">
            <div class="whitebox-group">
                <div class="timeline-horizontal">
                    <div class="single-timeline" routerLink="/pagination-data">
                        <div class="single-timeline-left">
                            <div class="timeline-user-info">
                                <div class="surgery-name">Pagination Data</div>
                            </div>
                        </div>
                    </div>
                    <div class="single-timeline"  routerLink="/lazyload-data">
                        <div class="single-timeline-left">
                            <div class="timeline-user-info">
                                <div class="surgery-name">Lazy Load Data</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



